* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 50vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(92, 122, 222, 1) 0%,
    rgba(92, 140, 222, 1) 43%,
    rgba(92, 167, 222, 1) 100%
  );
  position: relative;
}

nav {
  display: flex;
  padding: 1% 4%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  flex: 1;
}
#navLinks {
  text-align: right;
}

.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-link ul li a {
  color: #e5e5e5;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}

.title {
  font-size: 20px !important;
  font-weight: bold;
}
