* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: lightgray;
}
.header {
  min-height: 50vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(92, 122, 222, 1) 0%,
    rgba(92, 140, 222, 1) 43%,
    rgba(92, 167, 222, 1) 100%
  );
  position: relative;
}

nav {
  display: flex;
  padding: 1% 10%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  flex: 1;
}
#navLinks {
  text-align: right;
}

.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-link ul li a {
  color: #e5e5e5;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
}

.title {
  font-size: 20px !important;
  font-weight: bold !important;
}
.text-box {
  position: absolute;
  height: 72px;
  left: 204px;
  top: 142px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 72px;
  color: #ffffff;
}
.text-box p {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 72px;
  color: #ffffff;
}

.search-box {
  background-color: #fff;
  padding: 25px;
  display: flex;
  width: 76.5%;
  margin: auto;
  position: relative;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  top: -55px;
}
.search-input {
  font-size: 32px;
  color: #888;
  font-weight: 100;
}
.search-input input {
  border: none;
  font-size: 25px;
  outline: none;
}
.search-box button {
  background-color: #f17887;
  padding: 10px 70px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
}
